body {
    font-family: 'Martian Mono', monospace !important;
}

#typewriter {
    width: fit-content;
    margin: auto;
}

span {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media(max-width:480px) {
    #typewriter h2 {
        font-size: 1rem;
    }
}

/* .center-con {
    background-color: #FDF5DF;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #5EBEC4;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

span {
    z-index: 999;
    height: 3px;
    margin: 1px;
    width: 30px;
    background: #5EBEC4;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
} */